<header>
    <a class="header-title" href="/"><img src="/icons/logo.svg" alt="" width="60px"></a>

    <div class="header-links">
        <% if (!currentUser) { %>
            <a href="/" class="<%= activePath === '/' ? 'active' : '' %>">Home</a>
            <a href="/login" class="<%= activePath.startsWith('/login') ? 'active' : '' %>">Login</a>
            <a href="/register" class="<%= activePath.startsWith('/register') ? 'active' : '' %>">Register</a>

            <% } else { %>
                <a href="/" class="<%= activePath === '/' ? 'active' : '' %>">Home</a>
                <a href="/files"
                    class="<%= activePath.startsWith('/files') || activePath.startsWith('/folders') ? 'active' : '' %>">Files</a>
                |
                <div class="nav-username"><img src="/icons/user.svg" alt="user" width="12px">
                    <%= currentUser.username %>
                </div>
                <a href="/logout" class="<%= activePath.startsWith('/logout') ? 'active' : '' %>">Logout</a>
                <% } %>
    </div>
</header>
<div id="loading-overlay" class="loading-overlay hidden">
    <div class="loading-spinner"></div>
</div>
<script src="/js/global.js" defer></script>