<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include("partials/header") %>
        <main>

            <% if (childFolders && childFolders.length> 0) { %>
                <% childFolders.forEach((child)=> { %>
                    <div class="folder-item">
                        <a href="/share/<%= token %>/folders/<%= child.id %>">
                            <img src="/icons/folder.svg" alt="">
                            <p>
                                <%= child.name %>
                            </p>
                        </a>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <p>No folders.</p>
                            <% } %>

                                <% if (files && files.length> 0) { %>
                                    <% files.forEach((child)=> { %>
                                        <div>
                                            <a href="/share/<%= token %>/files/<%= child.id %>"
                                                style="text-decoration: none; color: inherit;">
                                                <div class="file-card">

                                                    <% if (child.mimeType && child.mimeType.startsWith("image/")) { %>
                                                        <img src="<%= child.previewUrl %>"
                                                            alt="<%= child.originalName %>" width="64">

                                                        <% } else if (child.mimeType &&
                                                            child.mimeType.startsWith("video/")) { %>
                                                            <img src="/icons/video.svg" alt="Video" width="64">

                                                            <% } else if (child.mimeType &&
                                                                child.mimeType.startsWith("audio/")) { %>
                                                                <img src="/icons/music.svg" alt="Audio" width="64">

                                                                <% } else if (child.mimeType==="application/pdf" ) { %>
                                                                    <img src="/icons/file.svg" alt="PDF" width="64">

                                                                    <% } else { %>
                                                                        <img src="/icons/file.svg" alt="File"
                                                                            width="64">
                                                                        <% } %>

                                                                            <div class="file-name">
                                                                                <%= child.originalName %>
                                                                            </div>

                                                </div>
                                            </a>
                                        </div>
                                        <% }) %>
                                            <% } else { %>
                                                <p>No Files.</p>
                                                <% } %>

        </main>
</body>